<button class="btn btn-primary" (click)="Open()">เพิ่มข้อมูล</button>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'code_side'">code_side</clr-dg-column>
    <clr-dg-column [clrDgField]="'name_side'">name_side</clr-dg-column>
    <clr-dg-row *clrDgItems="let x of allSide">
        <clr-dg-action-overflow>
            <button class="btn btn-primary" (click)="editData(x)">แก้ไขข้อมูล</button>
            <button class="btn btn-success" (click)="delete(x)">ลบข้อมูล</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{x.code_side}}</clr-dg-cell>
        <clr-dg-cell>{{x.name_side}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} rows
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <h3 class="modal-title">Side</h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <label>
                    <span> ข้อมูล Side</span>
                </label>
                <div class="form-group">
                    <label for="code_side">code_side</label>
                    <input type="text" [(ngModel)]="code_side" name="code_side" id="code_side" size="10">
                </div>
                <div class="form-group">
                    <label for="name_side">name_side</label>
                    <input type="text" [(ngModel)]="name_side" name="name_side" id="name_side" size="50">
                </div>
            </section>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Ok</button>
    </div>
</clr-modal>
